@charset "UTF-8";

/* 전체 레이아웃 */
#container{width: 80%; margin: 0 auto; text-align: center;
			margin-top: 50px;}
			
/* 주소록 등록 스타일 */
#tbl{width: 350px; margin: 0 auto;}
#tbl, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl td{height: 40px;}
#tbl input{height: 25px;}
#tbl select{width: 60px; height: 25px;}

/* 목록 보기 스타일 */
#tbl_List{width: 600px; margin: 0 auto;}
#tbl_List, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_List td{height: 40px;}

/* 상세 보기 스타일 */
#tbl_view{width: 350px; margin: 0 auto;}
#tbl_view, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_view td{height: 40px;}