@charset "UTF-8";

/* 전체 레이아웃 */
#container{width: 80%; margin: 0 auto; text-align: center;
			margin-top: 50px;}
			
a{text-decoration: none; color: #000}
			
/* 주소록 등록 스타일 */
#tbl{width: 350px; margin: 0 auto;}
#tbl, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl td{height: 40px;}
#tbl input{height: 25px;}
#tbl select{width: 60px; height: 25px;}

/* 목록 보기 스타일 */
#tbl_List{width: 600px; margin: 0 auto;}
#tbl_List, th, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_List th, td{height: 40px;}
#tbl_List th{background: #eee;}

/* 로그인 스타일 */
#tbl_login{width: 400px; margin: 0 auto;}
#tbl_login, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_login td{height: 50px;}
#tbl_login input[type="text"]{height: 30px;}
#tbl_login td:nth-child(1){width: 100px}

/* 상세 보기 스타일 */
#tbl_view{width: 350px; margin: 0 auto;}
#tbl_view, td{border: 1px solid #ccc; border-collapse: collapse;}
#tbl_view td{height: 40px;}